<article>

  <img alt='photo' class="listing-photo" [src]="housingLocation?.photo">
  <section class="listing-description">
    <h2 class="listing-heading">{{housingLocation?.name}}</h2>
    <p class="listing-location">{{housingLocation?.city}} {{housingLocation?.state}}</p>
  </section>
  <section class="listing-features">
    <h2 class="section-heading">About this location</h2>
    <ul>
      <li>Wifi: {{ housingLocation?.wifi }}</li>
      <li>Laundry: {{housingLocation?.laundry}}</li>
      <li>Available Units: {{ housingLocation?.availableUnits }}</li>
    </ul>
  </section>
  <section class="listing-apply">
    <h2 class="section-heading"> Apply to live here</h2>
      <form [formGroup]="applyForm" (ngSubmit)="submitApplication()">
        <label for="first-name">First Name</label>
        <input id="first-name" placeholder="Enter name" type="text" formControlName="firstName">
        <div *ngIf="applyForm.get('firstName')?.invalid && (applyForm.get('firstName')?.dirty || applyForm.get('firstName')?.touched)">
          <small *ngIf="applyForm.get('firstName')?.errors?.['required']"> This field required</small>
          <small *ngIf="applyForm.get('firstName')?.errors?.['minlength']" >Need more Symbol</small>
        </div>



        <label for="last-name"> Last Name</label>
        <input id="last-name" type="text" placeholder="Enter last name" formControlName="lastName">
        <div *ngIf="applyForm.get('lastName')?.invalid && (applyForm.get('lastName')?.dirty || applyForm.get('lastName')?.touched)">
        <small *ngIf="applyForm.get('lastName')?.errors?.['required']"> Last name is required</small>
        <small *ngIf="applyForm.get('lastName')?.errors?.['minlength']">Last name min 5 simbol</small>
       </div>
        <label for="email">Email</label>
        <input id="email" type="text"  formControlName="email" placeholder="Enter email">
        <div *ngIf="applyForm.get('email')?.invalid && (applyForm.get('email')?.dirty || applyForm.get('email')?.touched)">
          <small *ngIf="applyForm.get('email')?.errors?.['required']">Required </small>
          <small *ngIf="applyForm.get('email')?.errors?.['email']">Bad Formats</small>
        </div>

        <button type="submit" class="primary" [disabled]="!applyForm.valid"> Submit </button>
      </form>
  </section>

</article>
